In [ ]:
l = [0,1,2,3,4,5,6,7,8,9]

In [ ]:
l[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
l[:-1]

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
l[:-2]

[0, 1, 2, 3, 4, 5, 6, 7]

In [ ]:
l[0:5]

[0, 1, 2, 3, 4]

In [ ]:
l[5:2:-1]

[5, 4, 3]

In [ ]:
l[-5:-2]

[5, 6, 7]

In [ ]:
l[-2:-7:-1]

[8, 7, 6, 5, 4]

In [ ]:
a = len(l)
a

10

In [ ]:
print(max(l))
print(sum(l))
print(min(l))
#print(avg(l))

9
45
0

In [ ]:
print(sum(l)/len(l))

4.5

In [ ]:
for i in dir(list):
  if '__' not in i:
    print(i)

append
clear
copy
count
extend
index
insert
pop
remove
reverse
sort

In [ ]:
l = [0,1,2,3,4,5]

In [ ]:
l.append(6)

In [ ]:
l

[0, 1, 2, 3, 4, 5, 6]

In [ ]:
l.append(6,7)
l

TypeError: list.append() takes exactly one argument (2 given)

In [ ]:
l.append([7,8])
l

[0, 1, 2, 3, 4, 5, 6, [7, 8]]

In [ ]:
b = l.copy()
b

[0, 1, 2, 3, 4, 5, 6, [7, 8]]

In [ ]:
b[5] = 5.12

In [ ]:
b

[0, 1, 2, 3, 4, 5.12, 6, [7, 8]]

In [ ]:
l

[0, 1, 2, 3, 4, 5, 6, [7, 8]]

In [ ]:
b[7][1] = 8.52
print(b)
print(l)

[0, 1, 2, 3, 4, 5.12, 6, [7, 8.52]]
[0, 1, 2, 3, 4, 5, 6, [7, 8.52]]

In [ ]:
b[6] = 6.52
print(b)
print(l)

[0, 1, 2, 3, 4, 5.12, 6.52, [7, 8.52]]
[0, 1, 2, 3, 4, 5, 6, [7, 8.52]]

In [ ]:
a = [1,1,1,2,2,2,3,4,5,6,4,2,2,3,4,5,3,2,1,1]

In [ ]:
a.count(2)

6

In [ ]:
a.index(2)

3

In [ ]:
a[3:].index(2)

0

In [ ]:
l

[0, 1, 2, 3, 4, 5, 6, [7, 8.52]]

In [ ]:
l.extend('good boy')
l

[0, 1, 2, 3, 4, 5, 6, [7, 8.52], 'g', 'o', 'o', 'd', ' ', 'b', 'o', 'y']

In [ ]:
l.extend(['bad boy'])
l

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 [7, 8.52],
 'g',
 'o',
 'o',
 'd',
 ' ',
 'b',
 'o',
 'y',
 'bad boy']

In [ ]:
l.extend(1,2,3,4,5)

TypeError: list.extend() takes exactly one argument (5 given)

In [ ]:
l.extend([8,9,10,11])
l

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 [7, 8.52],
 'g',
 'o',
 'o',
 'd',
 ' ',
 'b',
 'o',
 'y',
 'bad boy',
 8,
 9,
 10,
 11]

In [ ]:
l.index('g')

8

In [ ]:
l

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 [7, 8.52],
 'g',
 'o',
 'o',
 'd',
 ' ',
 'b',
 'o',
 'y',
 'bad boy',
 8,
 9,
 10,
 11]

In [ ]:
l.insert(4,'Four')
l

[0,
 1,
 2,
 3,
 'Four',
 4,
 5,
 6,
 [7, 8.52],
 'g',
 'o',
 'o',
 'd',
 ' ',
 'b',
 'o',
 'y',
 'bad boy',
 8,
 9,
 10,
 11]

In [ ]:
l.insert(10,'Ten')
l

[0,
 1,
 2,
 3,
 'Four',
 4,
 5,
 6,
 [7, 8.52],
 'g',
 'Ten',
 'o',
 'o',
 'd',
 ' ',
 'b',
 'o',
 'y',
 'bad boy',
 8,
 9,
 10,
 11]

In [ ]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
def is_int(a):
  if type(a)==int:
    return True
  else:
    return False
l1 = list(filter(is_int,l))
l1

[0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11]

In [ ]:
l1 = list(filter(lambda x:type(x)==int,l))
l1

[0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11]

In [ ]:
l1.pop()

11

In [ ]:
l2 = l1.reverse()
l2

In [ ]:
l1

[10, 9, 8, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
l2 = l1.sort()
l2

In [ ]:
l1.reverse()
l1

[10, 9, 8, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
l1.sort()
l1

[0, 1, 2, 3, 4, 5, 6, 8, 9, 10]

In [ ]:
l1.reverse()

In [ ]:
l1

[10, 9, 8, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
l1.pop(2)

8

In [ ]:
l1.pop(2)

6

In [ ]:
l1

[10, 9, 5, 4, 3, 2, 1, 0]

In [ ]:
l1.remove(2)

In [ ]:
l1

[10, 9, 5, 4, 3, 1, 0]

In [ ]:
l1.sort(reverse = True)

In [ ]:
l1

[10, 9, 5, 4, 3, 1, 0]

In [ ]:
l1.sort(reverse = True)
l1

[10, 9, 5, 4, 3, 1, 0]

In [ ]:
l1.sort()
l1

[0, 1, 3, 4, 5, 9, 10]

In [ ]:
for i in dir(tuple):
  if '__' not in i:
    print(i)

count
index

In [ ]:
t = (1,2,3,4,5,6,7,8,9)

In [ ]:
t.index(5)

4

In [ ]:
t.count(5)

1

In [ ]:
for i in dir(set):
  if '__' not in i:
    print(i)

add
clear
copy
difference
difference_update
discard
intersection
intersection_update
isdisjoint
issubset
issuperset
pop
remove
symmetric_difference
symmetric_difference_update
union
update

In [ ]:
s = {0,0,0,2,2,6,9,5,4,1,3,8,7,4,3,2,1,1,2,4,6,9,9,9,9,9,7,8,6,5,4,3,2,1,3,3,4,5,6,7}
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
s.add(11)
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11}

In [ ]:
s.add(4)
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11}

In [ ]:
s.add(22)

In [ ]:
s1 = {1,4,7,9,10}
s1

{1, 4, 7, 9, 10}

In [ ]:
s1.add(2)
s1

{1, 2, 4, 7, 9, 10}

In [ ]:
s1 = {1,3,5}
s2 = {1,2,3,4,5}
s3 = {5,6,7,8}
s4 = {11,22,33}

In [ ]:
s2.difference(s3)

{1, 2, 3, 4}

In [ ]:
s2 - s1

{2, 4}

In [ ]:
s2-s3

{1, 2, 3, 4}

In [ ]:
s2.discard(6)

In [ ]:
s3.discard(1)

In [ ]:
s3.discard(6)

In [ ]:
s3

{5, 7, 8}

In [ ]:
print(s1)
print(s2)
print(s3)
print(s4)

{1, 3, 5}
{1, 2, 3, 4, 5}
{8, 5, 7}
{33, 11, 22}

In [ ]:
s1.intersection(s2)

{1, 3, 5}

In [ ]:
s1&s3

{5}

In [ ]:
s1&s2

{1, 3, 5}

In [ ]:
s1.isdisjoint(s2)

False

In [ ]:
s1.isdisjoint(s4)

True

In [ ]:
s1.issubset(s2)

True

In [ ]:
s3.issubset(s4)

False

In [ ]:
s1 = {1,2,3}
s2 = {1,2,3,4,5}

In [ ]:
s1.issubset(s2)

True

In [ ]:
s2.issubset(s1)

False

In [ ]:
s1.issuperset(s2)

False

In [ ]:
s2.issuperset(s1)

True

In [ ]:
s2.pop()

1

In [ ]:
s2.pop(3)

TypeError: set.pop() takes no arguments (1 given)

In [ ]:
s2.pop()

2

In [ ]:
s2

{3, 4, 5}

In [ ]:
s2.remove(4)

In [ ]:
s2

{3, 5}

In [ ]:
print(s1)
print(s2)
print(s3)
print(s4)

{1, 2, 3}
{3, 5}
{8, 5, 7}
{33, 11, 22}

In [ ]:
s1.union(s3)

{1, 2, 3, 5, 7, 8}

In [ ]:
s1|s4

{1, 2, 3, 11, 22, 33}

In [ ]:
s1

{1, 2, 3}

In [ ]:
s1.update([4,5,6,7])
s1

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
s1.update({8,9})
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
s1.update((10,11))
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [ ]:
s1.difference_update(s2)
s1

{1, 2, 4, 6, 7, 8, 9, 10, 11}

In [ ]:
s1 = {1,2,3,4}
s2 = {4,5,6,7}
s3 = {8,9,10}

In [ ]:
s1.difference_update(s2)
s1

{1, 2, 3}

In [ ]:
s2.intersection({6,7,8,9,10})
s2

{4, 5, 6, 7}

In [ ]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.intersection_update(s2)

In [ ]:
s1

{4, 5}

In [ ]:
s2

{4, 5, 6, 7, 8}

In [ ]:
print(s1)
print(s2)
s1.difference_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}
set()
{4, 5, 6, 7, 8}

In [ ]:
s1.symmetric_difference(s2)

{4, 5, 6, 7, 8}

In [ ]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
s1.symmetric_difference(s2)

{1, 2, 5, 6}

In [ ]:
s1 = {1,2,3}
s2 = {4,5,6}
s1.symmetric_difference(s2)

{1, 2, 3, 4, 5, 6}

In [ ]:
s1

{1, 2, 3}

In [ ]:
s2

{4, 5, 6}

In [ ]:
s1.symmetric_difference_update(s2)

In [ ]:
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6}
{4, 5, 6}

In [ ]:
a = [1,2,3,4,5,[6,7]]

In [ ]:
a[4]

5

In [ ]:
a[5]

[6, 7]

In [ ]:
a[5][0]

6

In [ ]:
for i in dir(dict):
  if "__" not in i:
    print(i)

clear
copy
fromkeys
get
items
keys
pop
popitem
setdefault
update
values

In [ ]:
d = {}
type(d)

dict

In [ ]:
s = {}
type(s)

dict

In [ ]:
s = set()
type(s)

set

In [ ]:
d = {1: 'One', 2: 'Two', 3: 'Three'}
d

{1: 'One', 2: 'Two', 3: 'Three'}

In [ ]:
e = d.copy()
e

{1: 'One', 2: 'Two', 3: 'Three'}

In [ ]:
d

{1: 'One', 2: 'Two', 3: 'Three'}

In [ ]:
d[2]

'Two'

In [ ]:
d[4]

KeyError: 4

In [ ]:
d.get(2,'Not Available')

'Two'

In [ ]:
d.get(4,'Not Available')

'Not Available'

In [ ]:
d.items()

dict_items([(1, 'One'), (2, 'Two'), (3, 'Three')])

In [ ]:
d.keys()

dict_keys([1, 2, 3])

In [ ]:
d.values()

dict_values(['One', 'Two', 'Three'])

In [ ]:
d[4] = 'Four'
d[5] = 'Five'
d

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five'}

In [ ]:
d1 = {6: 'Six', 7: 'Seven'}
d.update(d1)
d

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five', 6: 'Six', 7: 'Seven'}

In [ ]:
d.pop()

TypeError: pop expected at least 1 argument, got 0

In [ ]:
d.pop(7)

'Seven'

In [ ]:
d

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five', 6: 'Six'}

In [ ]:
d.popitem()

(6, 'Six')

In [ ]:
d.popitem(2)

TypeError: dict.popitem() takes no arguments (1 given)

In [ ]:
# prompt: give me code for setdefault

# The setdefault() method returns the value of the item with the specified key.
# If the key does not exist, insert the key, with the specified value.

# Example 1: Key exists
d = {1: 'One', 2: 'Two', 3: 'Three'}
value = d.setdefault(2, 'Default')
print(f"Value for key 2: {value}")
print(f"Dictionary after setdefault(2): {d}")

# Example 2: Key does not exist
value = d.setdefault(4, 'Four')
print(f"Value for key 4: {value}")
print(f"Dictionary after setdefault(4): {d}")

# Example 3: Key does not exist, no default value provided (defaults to None)
value = d.setdefault(5)
print(f"Value for key 5: {value}")
print(f"Dictionary after setdefault(5): {d}")

Value for key 2: Two
Dictionary after setdefault(2): {1: 'One', 2: 'Two', 3: 'Three'}
Value for key 4: Four
Dictionary after setdefault(4): {1: 'One', 2: 'Two', 3: 'Three', 4: 'Four'}
Value for key 5: None
Dictionary after setdefault(5): {1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: None}

In [ ]:
for i in dir(str):
  if '__' not in i:
    print(i)

capitalize
casefold
center
count
encode
endswith
expandtabs
find
format
format_map
index
isalnum
isalpha
isascii
isdecimal
isdigit
isidentifier
islower
isnumeric
isprintable
isspace
istitle
isupper
join
ljust
lower
lstrip
maketrans
partition
removeprefix
removesuffix
replace
rfind
rindex
rjust
rpartition
rsplit
rstrip
split
splitlines
startswith
strip
swapcase
title
translate
upper
zfill

In [ ]:
s = 'bAlA iS a gOoD bOY'

In [ ]:
s.capitalize()

'Bala is a good boy'

In [ ]:
s

'bAlA iS a gOoD bOY'

In [ ]:
s.upper()

'BALA IS A GOOD BOY'

In [ ]:
s.title()

'Bala Is A Good Boy'

In [ ]:
s.lower()

'bala is a good boy'

In [ ]:
s.swapcase()

'BaLa Is A GoOd Boy'

In [ ]:
s.casefold()

'bala is a good boy'

In [ ]:
s.islower()

False

In [ ]:
s.isupper()

False

In [ ]:
s.istitle()

False

In [ ]:
s.upper().isupper()

True

In [ ]:
s.lower().count('o')

3

In [ ]:
s.endswith('boy')

False

In [ ]:
s.lower().endswith('boy')

True

In [ ]:
s.startswith('bala')

False

In [ ]:
s.lower().startswith('bala')

True

In [ ]:
s = 'TP00156789'
int(s.removeprefix('TP'))

156789

In [ ]:
s

'TP00156789'

In [ ]:
'Gowthami Bala'.removesuffix('Bala')

'Gowthami '

In [ ]:
s1 = '12345'
s2 = '012345'
s3 = 'a0b1c2'
s4 = '256.02'

In [ ]:
print('isalnum')
print(f'{s1} : {s1.isalnum()}')
print(f'{s2} : {s2.isalnum()}')
print(f'{s3} : {s3.isalnum()}')
print(f'{s4} : {s4.isalnum()}')

print('\nisalpha')
print(f'{s1} : {s1.isalpha()}')
print(f'{s2} : {s2.isalpha()}')
print(f'{s3} : {s3.isalpha()}')
print(f'{s4} : {s4.isalpha()}')

print('\nisascii')
print(f'{s1} : {s1.isascii()}')
print(f'{s2} : {s2.isascii()}')
print(f'{s3} : {s3.isascii()}')
print(f'{s4} : {s4.isascii()}')

print('\nisdecimal')
print(f'{s1} : {s1.isdecimal()}')
print(f'{s2} : {s2.isdecimal()}')
print(f'{s3} : {s3.isdecimal()}')
print(f'{s4} : {s4.isdecimal()}')

print('\nisdigit')
print(f'{s1} : {s1.isdigit()}')
print(f'{s2} : {s2.isdigit()}')
print(f'{s3} : {s3.isdigit()}')
print(f'{s4} : {s4.isdigit()}')

print('\nisidentifier')
print('\nisnumeric')
print('\nisprintable')
print('\nisspace')

isalnum
12345 : True
012345 : True
a0b1c2 : True
256.02 : False

isalpha
12345 : False
012345 : False
a0b1c2 : False
256.02 : False

isascii
12345 : True
012345 : True
a0b1c2 : True
256.02 : True

isdecimal
12345 : True
012345 : True
a0b1c2 : False
256.02 : False

isdigit
12345 : True
012345 : True
a0b1c2 : False
256.02 : False

isidentifier

isnumeric

isprintable

isspace

In [ ]:
s = '  bala   is a    good    boy    '
s.strip()

'bala   is a    good    boy'

In [ ]:
a = s.split()
' '.join(a)

'bala is a good boy'

In [ ]:
s.lstrip()

'bala   is a    good    boy    '

In [ ]:
s.rstrip()

'  bala   is a    good    boy'

In [ ]:
s.index('is')

9

In [ ]:
s

'  bala   is a    good    boy    '

In [ ]:
a = s.split()
print(a)
b = s.split(' ')
print(b)

['bala', 'is', 'a', 'good', 'boy']
['', '', 'bala', '', '', 'is', 'a', '', '', '', 'good', '', '', '', 'boy', '', '', '', '']

In [ ]:
a = s.splitlines('')
a

TypeError: 'str' object cannot be interpreted as an integer

In [ ]:
text = "This is the first line.\nThis is the second line.\rThis is the third line.\r\nThis is the fourth line."
lines = text.splitlines()
print(lines)

lines_with_breaks = text.splitlines(keepends=True)
print(lines_with_breaks)

['This is the first line.', 'This is the second line.', 'This is the third line.', 'This is the fourth line.']
['This is the first line.\n', 'This is the second line.\r', 'This is the third line.\r\n', 'This is the fourth line.']

In [ ]:
s.find('is')

9

In [ ]:
s.index('is')

9

In [ ]:
s.rfind('is')

9

In [ ]:
a = ['Rajini', 'Kamal', 'Shahrukh']
b = ['Kanth', 'Hassan', 'Khan']
for idx, i in enumerate(a):
  print(f'{i} {b[idx]}')

Rajini Kanth
Kamal Hassan
Shahrukh Khan

In [ ]:
def guvi():
  return 'Bala is a good boy'

guvi()

'Bala is a good boy'

In [ ]:
print(guvi())

Bala is a good boy

In [ ]:
def guvi():
  print('Bala is a good boy')
  return 'Bala is a fantastic boy'

In [ ]:
guvi()

Bala is a good boy

'Bala is a fantastic boy'

In [ ]:
print(guvi())

Bala is a good boy
Bala is a fantastic boy

In [ ]:
def guvi():
  print('Bala is a good boy')

In [ ]:
guvi()

Bala is a good boy

In [ ]:
print(guvi())

Bala is a good boy
None

In [ ]:
def sum2nums(a,b):
  return a+b

sum2nums(2,4)

6

In [ ]:
def sum2nums(a,b=5):
  return a+b

sum2nums(2,4)

6

In [ ]:
sum2nums(2)

7

In [ ]:
def sum2nums(a=5,b):
  return a+b

sum2nums(2,4)

SyntaxError: non-default argument follows default argument (<ipython-input-235-71df7a879743>, line 1)

In [ ]:
x = 100

def guvi():
  x = 500
  print(x)

print(x)
guvi()
print(x)

100
500
100

In [ ]:
x = 100

def guvi():
  global x
  x = 500
  print(x)

print(x)
guvi()
print(x)

100
500
500

In [ ]:
def multiplearguments(*args):
  print(args)

multiplearguments(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [ ]:
def multiplearguments(*args):
  for i in args:
    print(i)

multiplearguments(1,2,3,4,5)

1
2
3
4
5

In [ ]:
def multiplekeywordarguments(**kwargs):
  print(kwargs)

multiplekeywordarguments(a=1,b=2,c=3,d=4,e=5)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [ ]:
def multiplekeywordarguments(name = '', age = '', **kwargs):
  print(name)
  print(age)
  for idx, i in kwargs.items():
    print(i)

multiplekeywordarguments(name='bala',age=2,c=3,d=4,e=5)

bala
2
3
4
5

In [ ]:
def matchcase(n):
  match n:
    case 1: return 'One'
    case 2: return 'Two'
    case 3: return 'Three'
    case _: return 'Thank you'

In [ ]:
matchcase(1)

'One'

In [ ]:
matchcase(2)

'Two'

In [ ]:
matchcase(5)

'Thank you'

In [ ]:
def studentdeets(name, age, *subject):
  print(f'Name of the Student is {name}')
  print(f'Age of the Student is {age}')
  for idx, i in enumerate(subject):
    print(f'Subject {idx+1}: {i}')

In [ ]:
studentdeets('Bala', 30, 'English', 'Tamil', 'Science', 'Maths', 'Social', 'Practical')

Name of the Student is Bala
Age of the Student is 30
Subject 1: English
Subject 2: Tamil
Subject 3: Science
Subject 4: Maths
Subject 5: Social
Subject 6: Practical

In [ ]:
a = 'hi'
b = 'hello'
print('print variable a and b is: {1} {0}'.format(a, b))

print variable a and b is: hello hi

In [ ]:
name = input('Enter name: ')
age = input('Enter age: ')
gender = input('Enter gender: ')
character = input('Enter character: ')



print(f'{name} is {age} years old and {"he" if gender == "male" else "she"} is {character} character')

Enter name: bala
Enter age: 30
Enter gender: male
Enter character: good
bala is 30 years old and he is good character

In [ ]:
a = lambda x: x+10
print(a(10))

20

In [ ]:
b = lambda n, m: n**m
print(b(2,7))

128

In [ ]:
c = lambda a, b, c = 10: (a+b)*c
print(c(1,2))
print(c(2,3,4))

30
20

In [ ]:
d = lambda *x: list('even' if i%2==0 else 'odd' for i in x)
print(d(1,2,3,4,5,6,7,8,9,10))

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [ ]:
e = lambda *x: [5 if i<=5 else 10 if i<=10 else 100 for i in x]
e(1,3,4,7,8,9,10,20,40,60,80,100)

[5, 5, 5, 10, 10, 10, 10, 100, 100, 100, 100, 100]

In [ ]:
e = lambda *x: sum([5 if i<=5 else 10 if i<=10 else 100 for i in x])
e(1,3,4,7,8,9,10,20,40,60,80,100)

555

In [ ]:
def lambdafunction(n):
  return lambda a: a+n

b = lambdafunction(10)
print(b(5))

15

In [ ]:
l = [16,12,18,19,30,50,12,100]
d = list(filter(lambda x: x>=18, l))
d

[18, 19, 30, 50, 100]

In [ ]:
def adult(n):
  return True if n>=18 else False

l = [6,10,18,12,25,9,15,20,40,60]
d = list(filter(adult, l))
d

[18, 25, 20, 40, 60]

In [ ]:
l = ['ajith', 'vijay', 'rajini', 'dhanush', 'simbhu']
d = list(map(str.upper, l))
d

['AJITH', 'VIJAY', 'RAJINI', 'DHANUSH', 'SIMBHU']

In [ ]:
l = ['ajith', 'vijay', 'rajini', 'dhanush', 'simbhu']
d = list(map(lambda x: x.upper(), l))
d

['AJITH', 'VIJAY', 'RAJINI', 'DHANUSH', 'SIMBHU']

In [ ]:
def upperfn(n):
  return n.upper()

l = ['ajith', 'vijay', 'rajini', 'dhanush', 'simbhu']
d = list(map(upperfn, l))
d

['AJITH', 'VIJAY', 'RAJINI', 'DHANUSH', 'SIMBHU']

In [ ]:
a = '1 2 3 4'
b = a.split()
b

['1', '2', '3', '4']

In [ ]:
b = list(map(int, b))
b

[1, 2, 3, 4]

In [ ]:
class Bank():

  def __init__(self, name, acc):
    self.name = name
    self.acc = acc
    self.balance = 0

  def deposit(self, amount):
    self.balance+=amount
    print(f'Amount of {amount} credited to your account successfully')
    print(f'Your current balance is {self.balance}')

  def withdrawal(self, amount):
    if self.balance < amount:
      print('Sorry you do not have sufficient balance')
    else:
      self.balance-=amount
      print(f'Amount of {amount} debited from your account successfully')
      print(f'Your current balance is {self.balance}')

In [ ]:
HDFC = Bank('Bala', '12345')

In [ ]:
HDFC.deposit(1000)

Amount of 1000 credited to your account successfully
Your current balance is 1000

In [ ]:
HDFC.withdrawal(500)

Amount of 500 debited from your account successfully
Your current balance is 500

In [ ]:
HDFC.withdrawal(600)

Sorry you do not have sufficient balance

In [ ]:
class Bank():

  def __init__(self, name, acc):
    self.name = name
    self.acc = acc
    self.__balance = 0

  def deposit(self, amount):
    self.__balance+=amount
    print(f'Amount of {amount} credited to your account successfully')
    self._showbalance()

  def withdrawal(self, amount):
    if self.__balance < amount:
      print('Sorry you do not have sufficient balance')
      self._showbalance()
    else:
      self.__balance-=amount
      print(f'Amount of {amount} debited from your account successfully')
      self._showbalance()

  def _showbalance(self):
    print(f'Your current balance is {self.__balance}')

In [ ]:
icici = Bank('Vijay', '23154')
icici.deposit(2000)

Amount of 2000 credited to your account successfully
Your current balance is 2000

In [ ]:
icici.withdrawal(600)

Amount of 600 debited from your account successfully
Your current balance is 1400

In [ ]:
icici.withdrawal(1500)

Sorry you do not have sufficient balance
Your current balance is 1400

In [ ]:
icici.showbalance()

AttributeError: 'Bank' object has no attribute 'showbalance'

In [ ]:
icici._showbalance()

Your current balance is 1400

In [ ]:
class Bank():

  def __init__(self, name, acc):
    self.name = name
    self.acc = acc
    self.__balance = 0

  def deposit(self, amount):
    self.__balance+=amount
    print(f'Amount of {amount} credited to your account successfully')
    self.__showbalance()

  def withdrawal(self, amount):
    if self.__balance < amount:
      print('Sorry you do not have sufficient balance')
      self.__showbalance()
    else:
      self.__balance-=amount
      print(f'Amount of {amount} debited from your account successfully')
      self.__showbalance()

  def __showbalance(self):
    print(f'Your current balance is {self.__balance}')

In [ ]:
icici = Bank('bala', '12345')

In [ ]:
icici.deposit(1000)

Amount of 1000 credited to your account successfully
Your current balance is 1000

In [ ]:
icici.showbalance()

AttributeError: 'Bank' object has no attribute 'showbalance'

In [ ]:
icici._Bank__showbalance()

Your current balance is 1000

| Modifier   | Syntax   | Accessible in subclass | Accessible outside class | Real privacy |
|------------|----------|------------------------|---------------------------|---------------|
| Public     | `name`   | ✅ Yes                 | ✅ Yes                    | ❌ No         |
| Protected  | `_name`  | ✅ Yes                 | ⚠️ Yes (not recommended) | ❌ No         |
| Private    | `__name` | ❌ No (without mangling) | ❌ No                   | ✅ Yes (via name mangling) |

In [ ]:
!date

Tue Jun 10 01:41:26 AM UTC 2025

In [ ]:
!ls

sample_data

In [ ]:
%cd

/root

In [ ]:
!pwd

/root

In [ ]:
!mkdir 'vijay'

In [ ]:
!mkdir vijay/gt

In [ ]:
!mkdir vijay/gt/abc.txt

In [ ]:
%cd /root/vijay

/root/vijay

In [ ]:
cd

/root

In [ ]:
import os

os.makedirs("vijay/gt", exist_ok=True)
with open("vijay/gt/abc.txt", "w") as f:
    f.write("Hello from Python!")

In [ ]:
import os

os.getcwd()

'/root'

In [ ]:
os.makedirs('rajini/abc/def', exist_ok=True)

In [ ]:
os.getcwd()

'/root'

In [ ]:
os.chdir('rajini/abc/def')

In [ ]:
os.getcwd()

'/root/rajini/abc/def'

In [ ]:
os.environ

environ{'SHELL': '/bin/bash',
        'NV_LIBCUBLAS_VERSION': '12.5.3.2-1',
        'NVIDIA_VISIBLE_DEVICES': 'all',
        'COLAB_JUPYTER_TRANSPORT': 'ipc',
        'NV_NVML_DEV_VERSION': '12.5.82-1',
        'NV_CUDNN_PACKAGE_NAME': 'libcudnn9-cuda-12',
        'CGROUP_MEMORY_EVENTS': '/sys/fs/cgroup/memory.events /var/colab/cgroup/jupyter-children/memory.events',
        'NV_LIBNCCL_DEV_PACKAGE': 'libnccl-dev=2.22.3-1+cuda12.5',
        'NV_LIBNCCL_DEV_PACKAGE_VERSION': '2.22.3-1',
        'VM_GCE_METADATA_HOST': '169.254.169.253',
        'MODEL_PROXY_HOST': 'https://mp.kaggle.net',
        'HOSTNAME': '3161f34d62d9',
        'LANGUAGE': 'en_US',
        'TBE_RUNTIME_ADDR': '172.28.0.1:8011',
        'COLAB_TPU_1VM': '',
        'GCE_METADATA_TIMEOUT': '3',
        'NVIDIA_REQUIRE_CUDA': 'cuda>=12.5 brand=unknown,driver>=470,driver<471 brand=grid,driver>=470,driver<471 brand=tesla,driver>=470,driver<471 brand=nvidia,driver>=470,driver<471 brand=quadro,driver>=470,driver<471 brand=quadrortx,driver>=470,driver<471 brand=nvidiartx,driver>=470,driver<471 brand=vapps,driver>=470,driver<471 brand=vpc,driver>=470,driver<471 brand=vcs,driver>=470,driver<471 brand=vws,driver>=470,driver<471 brand=cloudgaming,driver>=470,driver<471 brand=unknown,driver>=535,driver<536 brand=grid,driver>=535,driver<536 brand=tesla,driver>=535,driver<536 brand=nvidia,driver>=535,driver<536 brand=quadro,driver>=535,driver<536 brand=quadrortx,driver>=535,driver<536 brand=nvidiartx,driver>=535,driver<536 brand=vapps,driver>=535,driver<536 brand=vpc,driver>=535,driver<536 brand=vcs,driver>=535,driver<536 brand=vws,driver>=535,driver<536 brand=cloudgaming,driver>=535,driver<536 brand=unknown,driver>=550,driver<551 brand=grid,driver>=550,driver<551 brand=tesla,driver>=550,driver<551 brand=nvidia,driver>=550,driver<551 brand=quadro,driver>=550,driver<551 brand=quadrortx,driver>=550,driver<551 brand=nvidiartx,driver>=550,driver<551 brand=vapps,driver>=550,driver<551 brand=vpc,driver>=550,driver<551 brand=vcs,driver>=550,driver<551 brand=vws,driver>=550,driver<551 brand=cloudgaming,driver>=550,driver<551',
        'NV_LIBCUBLAS_DEV_PACKAGE': 'libcublas-dev-12-5=12.5.3.2-1',
        'NV_NVTX_VERSION': '12.5.82-1',
        'COLAB_JUPYTER_IP': '172.28.0.12',
        'NV_CUDA_CUDART_DEV_VERSION': '12.5.82-1',
        'NV_LIBCUSPARSE_VERSION': '12.5.1.3-1',
        'COLAB_LANGUAGE_SERVER_PROXY_ROOT_URL': 'http://172.28.0.1:8013/',
        'NV_LIBNPP_VERSION': '12.3.0.159-1',
        'NCCL_VERSION': '2.22.3-1',
        'KMP_LISTEN_PORT': '6000',
        'TF_FORCE_GPU_ALLOW_GROWTH': 'true',
        'ENV': '/root/.bashrc',
        'PWD': '/',
        'TBE_EPHEM_CREDS_ADDR': '172.28.0.1:8009',
        'COLAB_LANGUAGE_SERVER_PROXY_REQUEST_TIMEOUT': '30s',
        'TBE_CREDS_ADDR': '172.28.0.1:8008',
        'NV_CUDNN_PACKAGE': 'libcudnn9-cuda-12=9.2.1.18-1',
        'NVIDIA_DRIVER_CAPABILITIES': 'compute,utility',
        'COLAB_JUPYTER_TOKEN': '',
        'LAST_FORCED_REBUILD': '20250509',
        'NV_NVPROF_DEV_PACKAGE': 'cuda-nvprof-12-5=12.5.82-1',
        'NV_LIBNPP_PACKAGE': 'libnpp-12-5=12.3.0.159-1',
        'NV_LIBNCCL_DEV_PACKAGE_NAME': 'libnccl-dev',
        'TCLLIBPATH': '/usr/share/tcltk/tcllib1.20',
        'NV_LIBCUBLAS_DEV_VERSION': '12.5.3.2-1',
        'NVIDIA_PRODUCT_NAME': 'CUDA',
        'COLAB_KERNEL_MANAGER_PROXY_HOST': '172.28.0.12',
        'UV_BUILD_CONSTRAINT': '',
        'NV_LIBCUBLAS_DEV_PACKAGE_NAME': 'libcublas-dev-12-5',
        'NV_CUDA_CUDART_VERSION': '12.5.82-1',
        'COLAB_WARMUP_DEFAULTS': '1',
        'HOME': '/root',
        'LANG': 'en_US.UTF-8',
        'CUDA_VERSION': '12.5.1',
        'CLOUDSDK_CONFIG': '/content/.config',
        'NV_LIBCUBLAS_PACKAGE': 'libcublas-12-5=12.5.3.2-1',
        'NV_CUDA_NSIGHT_COMPUTE_DEV_PACKAGE': 'cuda-nsight-compute-12-5=12.5.1-1',
        'UV_SYSTEM_PYTHON': 'true',
        'COLAB_RELEASE_TAG': 'release-colab_20250605-060106_RC00',
        'KMP_TARGET_PORT': '9000',
        'KMP_EXTRA_ARGS': '--logtostderr --listen_host=172.28.0.12 --target_host=172.28.0.12 --tunnel_background_save_url=https://colab.research.google.com/tun/m/cc48301118ce562b961b3c22d803539adc1e0c19/m-s-2y70yhfixfpg1 --tunnel_background_save_delay=10s --tunnel_periodic_background_save_frequency=30m0s --enable_output_coalescing=true --output_coalescing_required=true ',
        'UV_INSTALL_DIR': '/usr/local/bin',
        'NV_LIBNPP_DEV_PACKAGE': 'libnpp-dev-12-5=12.3.0.159-1',
        'COLAB_LANGUAGE_SERVER_PROXY_LSP_DIRS': '/datalab/web/pyright/typeshed-fallback/stdlib,/usr/local/lib/python3.10/dist-packages',
        'NV_LIBCUBLAS_PACKAGE_NAME': 'libcublas-12-5',
        'COLAB_KERNEL_MANAGER_PROXY_PORT': '6000',
        'CLOUDSDK_PYTHON': 'python3',
        'NV_LIBNPP_DEV_VERSION': '12.3.0.159-1',
        'NO_GCE_CHECK': 'False',
        'PYTHONPATH': '/env/python',
        'NV_LIBCUSPARSE_DEV_VERSION': '12.5.1.3-1',
        'LIBRARY_PATH': '/usr/local/cuda/lib64/stubs',
        'NV_CUDNN_VERSION': '9.2.1.18-1',
        'SHLVL': '0',
        'NV_CUDA_LIB_VERSION': '12.5.1-1',
        'COLAB_LANGUAGE_SERVER_PROXY': '/usr/colab/bin/language_service',
        'NVARCH': 'x86_64',
        'UV_CONSTRAINT': '',
        'PYTHONUTF8': '1',
        'NV_CUDNN_PACKAGE_DEV': 'libcudnn9-dev-cuda-12=9.2.1.18-1',
        'NV_LIBNCCL_PACKAGE': 'libnccl2=2.22.3-1+cuda12.5',
        'LD_LIBRARY_PATH': '/usr/local/nvidia/lib:/usr/local/nvidia/lib64',
        'COLAB_GPU': '',
        'NV_CUDA_NSIGHT_COMPUTE_VERSION': '12.5.1-1',
        'GCS_READ_CACHE_BLOCK_SIZE_MB': '16',
        'NV_NVPROF_VERSION': '12.5.82-1',
        'LC_ALL': 'en_US.UTF-8',
        'COLAB_FILE_HANDLER_ADDR': 'localhost:3453',
        'PATH': '/opt/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin',
        'NV_LIBNCCL_PACKAGE_NAME': 'libnccl2',
        'COLAB_DEBUG_ADAPTER_MUX_PATH': '/usr/local/bin/dap_multiplexer',
        'NV_LIBNCCL_PACKAGE_VERSION': '2.22.3-1',
        'PYTHONWARNINGS': 'ignore:::pip._internal.cli.base_command',
        'DEBIAN_FRONTEND': 'noninteractive',
        'COLAB_BACKEND_VERSION': 'next',
        'OLDPWD': '/',
        '_PYVIZ_COMMS_INSTALLED': '1',
        'PYDEVD_USE_FRAME_EVAL': 'NO',
        'JPY_PARENT_PID': '90',
        'TERM': 'xterm-color',
        'CLICOLOR': '1',
        'PAGER': 'cat',
        'GIT_PAGER': 'cat',
        'MPLBACKEND': 'module://matplotlib_inline.backend_inline',
        'ENABLE_DIRECTORYPREFETCHER': '1',
        'USE_AUTH_EPHEM': '1',
        'COLAB_NOTEBOOK_ID': '1pXN6VPgKOEekjvC3mR1EI_IoAep387fg'}

In [ ]:
path = '/root/rajini/abc/def'
os.remove(path)

IsADirectoryError: [Errno 21] Is a directory: '/root/rajini/abc/def'

In [ ]:
import shutil
shutil.rmtree(path) # it removes the directory and files or sub directories

In [ ]:
import os
os.getcwd()

'/content'

In [2]:
import os
os.listdir(os.getcwd())

['.config', 'sample_data']

In [3]:
os.name

'posix'

In [19]:
l = [1,2,3,4,5,6]

try:
  a = int(input('Enter the index value to retreive the list elements: '))
  for i in range(a):
    print(l[i])
  print('Successfully fetched the values')
except:
  print('index not within the bound')
finally:
  print('Thanks for using our code')

Enter the index value to retreive the list elements: 9
1
2
3
4
5
6
index not within the bound
Thanks for using our code

In [22]:
l = [f'{i} is less than equal to 5' if i <= 5 else f'{i} is greater than 5' for i in range(10)]
l

['0 is less than equal to 5',
 '1 is less than equal to 5',
 '2 is less than equal to 5',
 '3 is less than equal to 5',
 '4 is less than equal to 5',
 '5 is less than equal to 5',
 '6 is greater than 5',
 '7 is greater than 5',
 '8 is greater than 5',
 '9 is greater than 5']

In [23]:
import pandas as pd

In [30]:
s1 = pd.Series([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [31]:
s2 = pd.Series([1,2,3,4,5], index = ['a', 'b', 'c', 'd', 'e'])
s2

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [32]:
s2['c']

np.int64(3)

In [33]:
s2['c':'e']

c    3
d    4
e    5
dtype: int64

In [35]:
s1[2:4]

2    3
3    4
dtype: int64

In [36]:
data = {'a': 'apple', 'b':'boy', 'c':'cat'}
s2 = pd.Series(data)
s2

a    apple
b      boy
c      cat
dtype: object

In [38]:
s2['b':'c']

b    boy
c    cat
dtype: object

In [39]:
s2[1:2]

b    boy
dtype: object

In [40]:
data = {'a': 'apple', 'b':'boy', 'c':'cat'}
s3 = pd.Series(data, index = ['x', 'y', 'z'])
s3

x    NaN
y    NaN
z    NaN
dtype: object

In [42]:
df = pd.DataFrame(data, index = ['x', 'y', 'z'])
df
df

       a    b    c
x  apple  boy  cat
y  apple  boy  cat
z  apple  boy  cat

In [43]:
dict1 = {'Name':['Ajith', 'Vijay', 'Vikram'],
         'Age': [50, 52, 55],
         'Gender': ['Male', 'Male', 'Male']}
df = pd.DataFrame(dict1)
df

     Name  Age Gender
0   Ajith   50   Male
1   Vijay   52   Male
2  Vikram   55   Male

In [44]:
a = [('ajith','20','male'), ('vijay','25','male'), ('rajini','30','male')]
df = pd.DataFrame(a)
df

        0   1     2
0   ajith  20  male
1   vijay  25  male
2  rajini  30  male

In [45]:
df.columns = ['Name', 'Age', 'Gender']
df

     Name Age Gender
0   ajith  20   male
1   vijay  25   male
2  rajini  30   male

In [46]:
data = {
    "ID": [101, 102, 103, 104, 105],
    "Name": ["Krishna", "Meera", "Ashok", "Sneha", "Ravi"],
    "Department": ["Finance", "HR", "Engineering", "Marketing", "Engineering"],
    "Salary": [65000, 55000, 72000, 48000, 71000]
}



df = pd.DataFrame(data)
df

    ID     Name   Department  Salary
0  101  Krishna      Finance   65000
1  102    Meera           HR   55000
2  103    Ashok  Engineering   72000
3  104    Sneha    Marketing   48000
4  105     Ravi  Engineering   71000

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          5 non-null      int64
 1   Name        5 non-null      object
 2   Department  5 non-null      object
 3   Salary      5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes

In [57]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,5.0,103.0,1.581139,101.0,102.0,103.0,104.0,105.0
Salary,5.0,62200.0,10425.929215,48000.0,55000.0,65000.0,71000.0,72000.0

In [48]:
df.columns

Index(['ID', 'Name', 'Department', 'Salary'], dtype='object')

In [50]:
df.shape

(5, 4)

In [51]:
df.size

20

In [52]:
df.head(2)

    ID     Name Department  Salary
0  101  Krishna    Finance   65000
1  102    Meera         HR   55000

In [53]:
df.tail(2)

    ID   Name   Department  Salary
3  104  Sneha    Marketing   48000
4  105   Ravi  Engineering   71000

In [58]:
df.values

array([[101, 'Krishna', 'Finance', 65000],
       [102, 'Meera', 'HR', 55000],
       [103, 'Ashok', 'Engineering', 72000],
       [104, 'Sneha', 'Marketing', 48000],
       [105, 'Ravi', 'Engineering', 71000]], dtype=object)

In [59]:
df['Name'].values

array(['Krishna', 'Meera', 'Ashok', 'Sneha', 'Ravi'], dtype=object)

In [61]:
df['Department'].unique()

array(['Finance', 'HR', 'Engineering', 'Marketing'], dtype=object)

In [62]:
df['Department'].nunique()

4

In [63]:
data = {
    'Name': ['John', 'Emily', 'David'],
    'Age': [25, 38, 30],
    'Gender': ['Male', 'Female', 'Male'],
    'Join_Date': pd.to_datetime(['2022-01-01', '2021-02-01', '2020-01-01'])
}
df = pd.DataFrame(data)
df

    Name  Age  Gender  Join_Date
0   John   25    Male 2022-01-01
1  Emily   38  Female 2021-02-01
2  David   30    Male 2020-01-01

In [64]:
data = {
    "ID": list(range(101, 121)),
    "Name": [
        "Krishna", "Meera", "Ashok", "Sneha", "Ravi",
        "Leela", "Ajay", "Divya", "Karthik", "Pooja",
        "Rahul", "Nisha", "Vikram", "Anita", "Suresh",
        "Neha", "Manoj", "Tanya", "Raj", "Isha"
    ],
    "Department": [
        "Finance", "HR", "Engineering", "Marketing", "Engineering",
        "Legal", "Design", "IT", "Engineering", "HR",
        "Finance", "IT", "Marketing", "Legal", "Design",
        "Finance", "Engineering", "IT", "Marketing", "HR"
    ],
    "Role": [
        "Analyst", "Recruiter", "Software Engineer", "Brand Manager", "DevOps Engineer",
        "Legal Advisor", "UX Designer", "System Admin", "Backend Developer", "HR Manager",
        "Auditor", "Tech Support", "SEO Specialist", "Paralegal", "Graphic Designer",
        "Budget Analyst", "ML Engineer", "IT Support", "Content Writer", "HR Assistant"
    ],
    "Salary": [
        65000, 55000, 72000, 48000, 71000,
        59000, 53000, 60000, 75000, 56000,
        67000, 58000, 49000, 60000, 54000,
        66000, 73000, 57000, 50000, 52000
    ],
    "Experience (Years)": [
        3, 2, 5, 4, 6,
        3, 2, 4, 5, 3,
        4, 2, 3, 3, 2,
        4, 5, 2, 3, 2
    ],
    "Location": [
        "Mumbai", "Delhi", "Bangalore", "Chennai", "Hyderabad",
        "Kolkata", "Pune", "Noida", "Bangalore", "Mumbai",
        "Chennai", "Hyderabad", "Delhi", "Pune", "Kolkata",
        "Bangalore", "Mumbai", "Noida", "Chennai", "Hyderabad"
    ]
}

In [65]:
df = pd.DataFrame(data)
df

,ID,Name,Department,Role,Salary,Experience (Years),Location
0,101,Krishna,Finance,Analyst,65000,3,Mumbai
1,102,Meera,HR,Recruiter,55000,2,Delhi
2,103,Ashok,Engineering,Software Engineer,72000,5,Bangalore
3,104,Sneha,Marketing,Brand Manager,48000,4,Chennai
4,105,Ravi,Engineering,DevOps Engineer,71000,6,Hyderabad
5,106,Leela,Legal,Legal Advisor,59000,3,Kolkata
6,107,Ajay,Design,UX Designer,53000,2,Pune
7,108,Divya,IT,System Admin,60000,4,Noida
8,109,Karthik,Engineering,Backend Developer,75000,5,Bangalore
9,110,Pooja,HR,HR Manager,56000,3,Mumbai
10,111,Rahul,Finance,Auditor,67000,4,Chennai
11,112,Nisha,IT,Tech Support,58000,2,Hyderabad
12,113,Vikram,Marketing,SEO Specialist,49000,3,Delhi
13,114,Anita,Legal,Paralegal,60000,3,Pune
14,115,Suresh,Design,Graphic Designer,54000,2,Kolkata
15,116,Neha,Finance,Budget Analyst,66000,4,Bangalore
16,117,Manoj,Engineering,ML Engineer,73000,5,Mumbai
17,118,Tanya,IT,IT Support,57000,2,Noida
18,119,Raj,Marketing,Content Writer,50000,3,Chennai
19,120,Isha,HR,HR Assistant,52000,2,Hyderabad

In [66]:
df.sort_values(by = ['Location', 'Salary'], ascending = [True, False], ignore_index = True)

,ID,Name,Department,Role,Salary,Experience (Years),Location
0,109,Karthik,Engineering,Backend Developer,75000,5,Bangalore
1,103,Ashok,Engineering,Software Engineer,72000,5,Bangalore
2,116,Neha,Finance,Budget Analyst,66000,4,Bangalore
3,111,Rahul,Finance,Auditor,67000,4,Chennai
4,119,Raj,Marketing,Content Writer,50000,3,Chennai
5,104,Sneha,Marketing,Brand Manager,48000,4,Chennai
6,102,Meera,HR,Recruiter,55000,2,Delhi
7,113,Vikram,Marketing,SEO Specialist,49000,3,Delhi
8,105,Ravi,Engineering,DevOps Engineer,71000,6,Hyderabad
9,112,Nisha,IT,Tech Support,58000,2,Hyderabad
10,120,Isha,HR,HR Assistant,52000,2,Hyderabad
11,106,Leela,Legal,Legal Advisor,59000,3,Kolkata
12,115,Suresh,Design,Graphic Designer,54000,2,Kolkata
13,117,Manoj,Engineering,ML Engineer,73000,5,Mumbai
14,101,Krishna,Finance,Analyst,65000,3,Mumbai
15,110,Pooja,HR,HR Manager,56000,3,Mumbai
16,108,Divya,IT,System Admin,60000,4,Noida
17,118,Tanya,IT,IT Support,57000,2,Noida
18,114,Anita,Legal,Paralegal,60000,3,Pune
19,107,Ajay,Design,UX Designer,53000,2,Pune

In [67]:
df

,ID,Name,Department,Role,Salary,Experience (Years),Location
0,101,Krishna,Finance,Analyst,65000,3,Mumbai
1,102,Meera,HR,Recruiter,55000,2,Delhi
2,103,Ashok,Engineering,Software Engineer,72000,5,Bangalore
3,104,Sneha,Marketing,Brand Manager,48000,4,Chennai
4,105,Ravi,Engineering,DevOps Engineer,71000,6,Hyderabad
5,106,Leela,Legal,Legal Advisor,59000,3,Kolkata
6,107,Ajay,Design,UX Designer,53000,2,Pune
7,108,Divya,IT,System Admin,60000,4,Noida
8,109,Karthik,Engineering,Backend Developer,75000,5,Bangalore
9,110,Pooja,HR,HR Manager,56000,3,Mumbai
10,111,Rahul,Finance,Auditor,67000,4,Chennai
11,112,Nisha,IT,Tech Support,58000,2,Hyderabad
12,113,Vikram,Marketing,SEO Specialist,49000,3,Delhi
13,114,Anita,Legal,Paralegal,60000,3,Pune
14,115,Suresh,Design,Graphic Designer,54000,2,Kolkata
15,116,Neha,Finance,Budget Analyst,66000,4,Bangalore
16,117,Manoj,Engineering,ML Engineer,73000,5,Mumbai
17,118,Tanya,IT,IT Support,57000,2,Noida
18,119,Raj,Marketing,Content Writer,50000,3,Chennai
19,120,Isha,HR,HR Assistant,52000,2,Hyderabad

In [70]:
df.nlargest(5, 'Salary').reset_index(drop = True)

,ID,Name,Department,Role,Salary,Experience (Years),Location
0,109,Karthik,Engineering,Backend Developer,75000,5,Bangalore
1,117,Manoj,Engineering,ML Engineer,73000,5,Mumbai
2,103,Ashok,Engineering,Software Engineer,72000,5,Bangalore
3,105,Ravi,Engineering,DevOps Engineer,71000,6,Hyderabad
4,111,Rahul,Finance,Auditor,67000,4,Chennai

In [72]:
df.nsmallest(5, 'Salary').reset_index(drop = True)

,ID,Name,Department,Role,Salary,Experience (Years),Location
0,104,Sneha,Marketing,Brand Manager,48000,4,Chennai
1,113,Vikram,Marketing,SEO Specialist,49000,3,Delhi
2,119,Raj,Marketing,Content Writer,50000,3,Chennai
3,120,Isha,HR,HR Assistant,52000,2,Hyderabad
4,107,Ajay,Design,UX Designer,53000,2,Pune

In [73]:
df['Salary']*0.05

0     3250.0
1     2750.0
2     3600.0
3     2400.0
4     3550.0
5     2950.0
6     2650.0
7     3000.0
8     3750.0
9     2800.0
10    3350.0
11    2900.0
12    2450.0
13    3000.0
14    2700.0
15    3300.0
16    3650.0
17    2850.0
18    2500.0
19    2600.0
Name: Salary, dtype: float64

In [74]:
df['Bonus'] = df['Salary']*0.05
df

,ID,Name,Department,Role,Salary,Experience (Years),Location,Bonus
0,101,Krishna,Finance,Analyst,65000,3,Mumbai,3250.0
1,102,Meera,HR,Recruiter,55000,2,Delhi,2750.0
2,103,Ashok,Engineering,Software Engineer,72000,5,Bangalore,3600.0
3,104,Sneha,Marketing,Brand Manager,48000,4,Chennai,2400.0
4,105,Ravi,Engineering,DevOps Engineer,71000,6,Hyderabad,3550.0
5,106,Leela,Legal,Legal Advisor,59000,3,Kolkata,2950.0
6,107,Ajay,Design,UX Designer,53000,2,Pune,2650.0
7,108,Divya,IT,System Admin,60000,4,Noida,3000.0
8,109,Karthik,Engineering,Backend Developer,75000,5,Bangalore,3750.0
9,110,Pooja,HR,HR Manager,56000,3,Mumbai,2800.0
10,111,Rahul,Finance,Auditor,67000,4,Chennai,3350.0
11,112,Nisha,IT,Tech Support,58000,2,Hyderabad,2900.0
12,113,Vikram,Marketing,SEO Specialist,49000,3,Delhi,2450.0
13,114,Anita,Legal,Paralegal,60000,3,Pune,3000.0
14,115,Suresh,Design,Graphic Designer,54000,2,Kolkata,2700.0
15,116,Neha,Finance,Budget Analyst,66000,4,Bangalore,3300.0
16,117,Manoj,Engineering,ML Engineer,73000,5,Mumbai,3650.0
17,118,Tanya,IT,IT Support,57000,2,Noida,2850.0
18,119,Raj,Marketing,Content Writer,50000,3,Chennai,2500.0
19,120,Isha,HR,HR Assistant,52000,2,Hyderabad,2600.0

In [75]:
df['Net Paid'] = df['Salary'] + df['Bonus']
df

,ID,Name,Department,Role,Salary,Experience (Years),Location,Bonus,Net Paid
0,101,Krishna,Finance,Analyst,65000,3,Mumbai,3250.0,68250.0
1,102,Meera,HR,Recruiter,55000,2,Delhi,2750.0,57750.0
2,103,Ashok,Engineering,Software Engineer,72000,5,Bangalore,3600.0,75600.0
3,104,Sneha,Marketing,Brand Manager,48000,4,Chennai,2400.0,50400.0
4,105,Ravi,Engineering,DevOps Engineer,71000,6,Hyderabad,3550.0,74550.0
5,106,Leela,Legal,Legal Advisor,59000,3,Kolkata,2950.0,61950.0
6,107,Ajay,Design,UX Designer,53000,2,Pune,2650.0,55650.0
7,108,Divya,IT,System Admin,60000,4,Noida,3000.0,63000.0
8,109,Karthik,Engineering,Backend Developer,75000,5,Bangalore,3750.0,78750.0
9,110,Pooja,HR,HR Manager,56000,3,Mumbai,2800.0,58800.0
10,111,Rahul,Finance,Auditor,67000,4,Chennai,3350.0,70350.0
11,112,Nisha,IT,Tech Support,58000,2,Hyderabad,2900.0,60900.0
12,113,Vikram,Marketing,SEO Specialist,49000,3,Delhi,2450.0,51450.0
13,114,Anita,Legal,Paralegal,60000,3,Pune,3000.0,63000.0
14,115,Suresh,Design,Graphic Designer,54000,2,Kolkata,2700.0,56700.0
15,116,Neha,Finance,Budget Analyst,66000,4,Bangalore,3300.0,69300.0
16,117,Manoj,Engineering,ML Engineer,73000,5,Mumbai,3650.0,76650.0
17,118,Tanya,IT,IT Support,57000,2,Noida,2850.0,59850.0
18,119,Raj,Marketing,Content Writer,50000,3,Chennai,2500.0,52500.0
19,120,Isha,HR,HR Assistant,52000,2,Hyderabad,2600.0,54600.0

In [76]:
df['Location'].unique()

array(['Mumbai', 'Delhi', 'Bangalore', 'Chennai', 'Hyderabad', 'Kolkata',
       'Pune', 'Noida'], dtype=object)

In [77]:
df['Location'].nunique()

8